@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content-menu"></div>
    <div id="content-car"></div>
    <div id="car-grid"></div>
	<div id="add-dialog-btn"></div>
	<div id="add-form"></div>
	<div id="demo"></div>


    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="../../dist/bundle.js" ></script>

</body>
</html>